/* body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    color: blue;
}

h2{
    background-color: blue;
    color:white;
    padding: 5px 0px;
}

span{
    font-size: 200%;
} */



/* .alert{
    border: 1px solid grey;
}

.stop{
    background-color: red;
}

.go{
    background-color: green;
}

#special{
    background-color: yellow;
    padding: 2px;
} */

/* .container > p{
    font-size: 150%;
}

.container > p:first-of-type{
    color: red;
}

a{
    color:orange;
}

a:visited{
    color:green;   
}

a:hover{
    text-decoration: none;
}

table tr:nth-child(even){
    background-color: #333;
    color: white;
} */

/* 
h2 + p{
    color: red;
}

ul.list > li{
    list-style: none;
    border-bottom: 1px solid grey;
} */


a{
    border:5px solid grey;
}

li{
    margin-bottom: 20px;
}

a[title]{
border-color: pink;
}

a[href*="contact"]{
    border-color: orange;;
}

a[href^="https"]{
    border-color: green;
}
